
    <footer class="footer">
        <div class="container">
            FOOTER
        </div>
    </footer>

	<script src="/javascripts/main.js"></script>
	<script src="/javascripts/medium-editor.min.js"></script>
	
</body>
</html>